@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&display=swap');
/* :root 
{
    --bgColDim: #1c2a39;
    --bgCol: #2c3a49;
    --accCol: #c5d3e2;
    --accColDim: #8c9aa9;
} */

:root 
{
    --fieldCol: #eef0f1;
    --penCol: rgba(5, 7, 141, 0.823);
    --bgColDim: #023859;
    --bgCol: #01262e;
    --accCol: #83a605;
    --accColDim: #025959;
}

*{
    user-select: none;
    text-align: center;
    font-size: larger;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Overpass Mono', monospace;
    border-radius: 10px;
}

body {
    overflow: hidden;
    display: grid;
    grid-template-areas: "a a a";
    grid-template-columns: 40% auto 40%;
    justify-items: center;
    background-color: var(--bgCol);
}
logo {
    transform: translate(0, -25%);
}
logo h2:nth-child(1) {
    -webkit-text-stroke: 1% white;
    color: transparent;
}
logo h2:nth-child(2) {

    color: rgb(196, 231, 253);
    animation: logo 4s linear infinite;
}

@keyframes logo {
    0%, 100% {
        clip-path: polygon(0 8%, 7% 6%, 14% 5%, 21% 5%, 28% 6%, 34% 8%, 40% 12%,
         46% 17%, 50% 20%, 54% 23%, 60% 25%, 66% 26%, 70% 26%, 77% 25%, 83% 23%,
          89% 21%, 95% 19%, 100% 17%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 15%, 9% 21%, 14% 23%, 18% 25%, 21% 26%, 30% 28%,
         32% 28%, 40% 27%, 46% 26%, 52% 23%, 57% 19%, 62% 15%, 68% 11%, 73% 8%,
          79% 6%, 86% 5%, 93% 5%, 100% 6%, 100% 100%, 0% 100%);
    }
}
name {
    font-size: 5vh;
    padding: 10px;
    grid-column: 2;
}
menu {
    grid-column: 2;
    grid-row: 2;
}

input {
    color: white;
    height: fit-content;
    background-color: transparent;
    border: 0;
}

input[type="text"] {
    width: 98%;
    font-size: 4vh;
    outline: none;
    border-bottom: var(--fieldCol) 2px solid;
}

input[type="button"]:hover {
    color: var(--accColDim);
    text-shadow: 2px 2px var(--accColDim);
    cursor: pointer;
}
#lobbyCode {
    user-select: all;
}

table {
    background-color: transparent;
    border-collapse: collapse;
}
.field {
    height: fit-content;
    padding: 5px;
    background-image: url("textures/paper.jpg");
    background-size: contain;
    background-color: black;
}
.readyField  {
    animation: ready 4s linear infinite;
}
@keyframes ready {
    0%, 100% {
        background-color: var(--accCol);
    }
    50% {
        background-color: transparent;
    }
}
.ismove {
    outline: 5px solid;
    outline-color: rgba(7,212,113,1);
    animation: ismove 5s infinite;
}
@keyframes ismove {
    50% {
        outline-color: transparent;
    }
}
td {
    color: black;
    font-size: x-large;
    border: 2px solid var(--penCol);
    height: 38px;
    width: 38px;
}

.ship {
    position: relative;
    margin: 5px;
    height: 37px;
    width: 37px;
    background-image: url("textures/ship.png");
    background-repeat: repeat;
    background-size: contain;
    /* background-color: var(--bgColDim); */
}
.selectedShip {
    transition: 0.1s;
    background-color: rgba(255, 255, 255, 0.4);
}
.onMapShip {
    transition: 0.1s;
    transform: translate(-5px, -23px);
    display: block;
    position: absolute !important;
}
.shiped {
    background-image: url("textures/ship.png");
    background-size: contain;
}
.enemyShiped {
    color: black;
}
.damaged {
    color: red;
}
.wrongPlace {
    transition: 0.1s;
    background-color: rgba(255, 0, 0, 0.721);
}
.row-2 {
    width: 79px;
}
.row-3 {
    width: 120px;
}
.row-4 {
    width: 161px;
}

.madalM {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.mMenu {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 10% 50% 10%;
    z-index: 1;
    top: 6%;
    left: 33vw;
    background-color: var(--bgCol);
    height: 600px;
    width: 500px;
}
.mLeaderBoard {
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    z-index: 2;
    top: 6%;
    left: 33vw;
    background-color: var(--bgCol);
    height: 600px;
    width: 500px;
}
.mMultiplayer {
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 10% 50% 10%;
    z-index: 1;
    top: 6%;
    left: 33vw;
    background-color: var(--bgCol);
    height: 600px;
    width: 500px;
}
#wrongNick {
    display: none;
    color: red;
}
.mLobbySearch {
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 20% 10%;
    z-index: 1;
    top: 6%;
    left: 33vw;
    background-color: var(--bgCol);
    height: 600px;
    width: 500px;
}
.mLobby {
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 80% 10% 10%;
    z-index: 1;
    top: 6%;
    left: 33vw;
    background-color: var(--bgCol);
    height: 600px;
    width: 500px;
}

#backToLobbySearch {
    grid-row: 3;
}
#buttonLB {
    grid-row: 5;
}
#backButtonLB {
    grid-row: 2;
}
#startLobbyGame {
    display: none;
}

@media (max-width: 1225px) {
    body {
        overflow-y: scroll;
        grid-template-columns: 100%;
        grid-template-rows: 0 auto auto auto;
        grid-gap: 5px;
    }

    #p {
        grid-column: 1 !important;
        grid-row: 3 !important;
    }
    #m {
        grid-column: 1 !important;
        grid-row: 2 !important;
    }
    #e {
        grid-column: 1 !important;
        grid-row: 4 !important;
    }
    .madalM {
        height: 100%;
        padding: 0;
    }
    .mMenu, .mLeaderBoard, .mMultiplayer, .mLobbySearch, .mLobby  {
        height: 100%;
        width: 100%;
    }
    name {
        display: none;
    }
    input[type="text"] {
        font-size: 2vh;
        outline: none;
        border-bottom: var(--fieldCol) 2px solid;
    }
}